@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

.App {
  width: var(--size-fluid-10);
  margin-inline: auto;
}
.strength-meter {
  display: flex;
  gap: var(--size-3);
}
.strength-bar {
  width: 50px;
  height: 25px;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
}

button:hover {
  background: var(--gray-7);
}